.videoStream {
    display: flex;
    align-items: center;
    justify-self: center;
}

.videoFrame {
    max-width: 640px;
    max-height: 480px;
}

.controls {
    display: flex;
    align-items: bottom;
    justify-self: bottom;
}